<div class="sidebar">
    <h1><a href="{{ site.url }}/">ACS Laboratory</a></h1>
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <!-- <a href="{{ site.baseurl }}">{{ site.title }}</a> -->
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="pheeno_software_installation#instllation">Installation</a>
            <a class="sidebar-nav-item" href="pheeno_software_installation#getting-started">Getting Started</a>
            <a class="sidebar-nav-item" href="pheeno_software_installation#installing-arduino">Installing Arduino</a>
            <a class="sidebar-nav-item" href="pheeno_software_installation#installing-the-pheeno-libraries">Installing the Pheeno Libraries</a>
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
