<div class="sidebar">
    <h1><a href="{{ site.url }}/">ACS Laboratory</a></h1>
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <!-- <a href="{{ site.baseurl }}">{{ site.title }}</a> -->
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="pheeno_construction_content#introduction">Introduction</a>
            <a class="sidebar-nav-item" href="pheeno_construction_content#pcb-assembly">PCB Assembly</a>
            <ul>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#ir-mounts">IR Mounts</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#resistors">Resistors</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#capacitors">Capacitors</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#molex-connector-pins-male-breakaway-pins-and-op-amp">Molex Connector Pins, Male Breakaway Pins, and Op-Amp</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#premade-boards">Premade Boards</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#largemiscellaneous-components">Large/Miscellaneous Components</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#underside-of-board">Underside of Board</a></li>
            </ul>

            <a class="sidebar-nav-item" href="pheeno_construction_content#chassis-assembly">Chassis Assembly</a>
            <ul>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#3d-printing">3D Printing</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#motorencoderwheel">Motor/Encoder/Wheel</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#drivetrain">Drivetrain</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#mounting">Mounting</a></li>
            </ul>

            <a class="sidebar-nav-item" href="pheeno_construction_content#robot-interior">Robot Interior</a>
            <ul>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#pcd-mounting">PCB Mounting</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#switch-construction">Switch Construction</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#led-construction">LED Construction</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#miscellaneous">Miscellaneous</a></li>
            </ul>

            <a class="sidebar-nav-item" href="pheeno_construction_content#robot-top">Robot Top</a>
            <ul>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#raspberry-pi-attachment">Raspberry Pi Attachment</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#top-plate">Top Plate</a></li>
                <li><a class="sidebar-nav-item" href="pheeno_construction_content#finishing-touches">Finishing Touches</a></li>
            </ul>
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
