<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/documentation.css"> -->
            <link rel="stylesheet" href="/css/hyde.css">
            <link rel="stylesheet" href="/css/poole.css">
            <link rel="stylesheet" href="/css/syntax.css">
		</head>
		<body>
            {% include sidebar.html %}
			<!-- <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/guides">Guides</a></li>
                    <li><a href="/documentation">Documentation</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav> -->
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:acs-lab@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ACSLab">github.com/ACSLab</a></li>
                    <li><a href="/about">about</a></li>
				</ul>
			</footer>
		</body>
	</html>
